In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

In [103]:
df=pd.read_csv(r"IPL_2013.csv")
print(df.head())
print(df.info())

   Sl.NO.   PLAYER NAME  AGE COUNTRY  TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
0       1   Abdulla, YA    2      SA  KXIP   Allrounder       0       0
1       2  Abdur Razzak    2     BAN   RCB       Bowler     214      18
2       3   Agarkar, AB    2     IND   KKR       Bowler     571      58
3       4     Ashwin, R    1     IND   CSK       Bowler     284      31
4       5  Badrinath, S    2     IND   CSK      Batsman      63       0

   ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL   ECON  \
0           0      0.00  ...    0.00       0     307    15   20.47   8.90
1         657     71.41  ...    0.00       0      29     0    0.00  14.50
2        1269     80.62  ...  121.01       5    1059    29   36.52   8.81
3         241     84.56  ...   76.32       0    1125    49   22.96   6.23
4          79     45.93  ...  120.71      28       0     0    0.00   0.00

   SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
0  13.93          2009       50000       50000
1   0.00          2008       50000       50000
2  24.90          2008      200000      350000
3  22.14          2011      100000      850000
4   0.00          2011      100000      800000

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB
None

# Normalizing the team names

In [104]:
df['TEAM']=df['TEAM'].str.replace('+','')
df['TEAM']

0      KXIP
1       RCB
2       KKR
3       CSK
4       CSK
       ...
125      DC
126      RR
127    KXIP
128      MI
129      DC
Name: TEAM, Length: 130, dtype: object

# Dummy Variables

In [105]:
dummy = pd.get_dummies(df, columns=['COUNTRY', 'TEAM', 'PLAYING ROLE'], drop_first=True, dtype=int)
df1 = pd.concat([df, dummy], axis=1)

In [106]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 69 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl.NO.                  130 non-null    int64
 1   PLAYER NAME             130 non-null    object
 2   AGE                     130 non-null    int64
 3   COUNTRY                 130 non-null    object
 4   TEAM                    130 non-null    object
 5   PLAYING ROLE            130 non-null    object
 6   T-RUNS                  130 non-null    int64
 7   T-WKTS                  130 non-null    int64
 8   ODI-RUNS-S              130 non-null    int64
 9   ODI-SR-B                130 non-null    float64
 10  ODI-WKTS                130 non-null    int64
 11  ODI-SR-BL               130 non-null    float64
 12  CAPTAINCY EXP           130 non-null    int64
 13  RUNS-S                  130 non-null    int64
 14  HS                      130 non-null    int64
 15  AVE                     130 non-null    float64
 16  SR-B                    130 non-null    float64
 17  SIXERS                  130 non-null    int64
 18  RUNS-C                  130 non-null    int64
 19  WKTS                    130 non-null    int64
 20  AVE-BL                  130 non-null    float64
 21  ECON                    130 non-null    float64
 22  SR-BL                   130 non-null    float64
 23  AUCTION YEAR            130 non-null    int64
 24  BASE PRICE              130 non-null    int64
 25  SOLD PRICE              130 non-null    int64
 26  Sl.NO.                  130 non-null    int64
 27  PLAYER NAME             130 non-null    object
 28  AGE                     130 non-null    int64
 29  T-RUNS                  130 non-null    int64
 30  T-WKTS                  130 non-null    int64
 31  ODI-RUNS-S              130 non-null    int64
 32  ODI-SR-B                130 non-null    float64
 33  ODI-WKTS                130 non-null    int64
 34  ODI-SR-BL               130 non-null    float64
 35  CAPTAINCY EXP           130 non-null    int64
 36  RUNS-S                  130 non-null    int64
 37  HS                      130 non-null    int64
 38  AVE                     130 non-null    float64
 39  SR-B                    130 non-null    float64
 40  SIXERS                  130 non-null    int64
 41  RUNS-C                  130 non-null    int64
 42  WKTS                    130 non-null    int64
 43  AVE-BL                  130 non-null    float64
 44  ECON                    130 non-null    float64
 45  SR-BL                   130 non-null    float64
 46  AUCTION YEAR            130 non-null    int64
 47  BASE PRICE              130 non-null    int64
 48  SOLD PRICE              130 non-null    int64
 49  COUNTRY_BAN             130 non-null    int32
 50  COUNTRY_ENG             130 non-null    int32
 51  COUNTRY_IND             130 non-null    int32
 52  COUNTRY_NZ              130 non-null    int32
 53  COUNTRY_PAK             130 non-null    int32
 54  COUNTRY_SA              130 non-null    int32
 55  COUNTRY_SL              130 non-null    int32
 56  COUNTRY_WI              130 non-null    int32
 57  COUNTRY_ZIM             130 non-null    int32
 58  TEAM_DC                 130 non-null    int32
 59  TEAM_DD                 130 non-null    int32
 60  TEAM_KKR                130 non-null    int32
 61  TEAM_KXI                130 non-null    int32
 62  TEAM_KXIP               130 non-null    int32
 63  TEAM_MI                 130 non-null    int32
 64  TEAM_RCB                130 non-null    int32
 65  TEAM_RR                 130 non-null    int32
 66  PLAYING ROLE_Batsman    130 non-null    int32
 67  PLAYING ROLE_Bowler     130 non-null    int32
 68  PLAYING ROLE_W. Keeper  130 non-null    int32
dtypes: float64(14), int32(20), int64(30), object(5)
memory usage: 60.1+ KB

In [107]:
df1.drop(['PLAYER NAME','SOLD PRICE','Sl.NO.','COUNTRY', 'TEAM', 'PLAYING ROLE'],inplace=True,axis=1)

In [108]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 60 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AGE                     130 non-null    int64
 1   T-RUNS                  130 non-null    int64
 2   T-WKTS                  130 non-null    int64
 3   ODI-RUNS-S              130 non-null    int64
 4   ODI-SR-B                130 non-null    float64
 5   ODI-WKTS                130 non-null    int64
 6   ODI-SR-BL               130 non-null    float64
 7   CAPTAINCY EXP           130 non-null    int64
 8   RUNS-S                  130 non-null    int64
 9   HS                      130 non-null    int64
 10  AVE                     130 non-null    float64
 11  SR-B                    130 non-null    float64
 12  SIXERS                  130 non-null    int64
 13  RUNS-C                  130 non-null    int64
 14  WKTS                    130 non-null    int64
 15  AVE-BL                  130 non-null    float64
 16  ECON                    130 non-null    float64
 17  SR-BL                   130 non-null    float64
 18  AUCTION YEAR            130 non-null    int64
 19  BASE PRICE              130 non-null    int64
 20  AGE                     130 non-null    int64
 21  T-RUNS                  130 non-null    int64
 22  T-WKTS                  130 non-null    int64
 23  ODI-RUNS-S              130 non-null    int64
 24  ODI-SR-B                130 non-null    float64
 25  ODI-WKTS                130 non-null    int64
 26  ODI-SR-BL               130 non-null    float64
 27  CAPTAINCY EXP           130 non-null    int64
 28  RUNS-S                  130 non-null    int64
 29  HS                      130 non-null    int64
 30  AVE                     130 non-null    float64
 31  SR-B                    130 non-null    float64
 32  SIXERS                  130 non-null    int64
 33  RUNS-C                  130 non-null    int64
 34  WKTS                    130 non-null    int64
 35  AVE-BL                  130 non-null    float64
 36  ECON                    130 non-null    float64
 37  SR-BL                   130 non-null    float64
 38  AUCTION YEAR            130 non-null    int64
 39  BASE PRICE              130 non-null    int64
 40  COUNTRY_BAN             130 non-null    int32
 41  COUNTRY_ENG             130 non-null    int32
 42  COUNTRY_IND             130 non-null    int32
 43  COUNTRY_NZ              130 non-null    int32
 44  COUNTRY_PAK             130 non-null    int32
 45  COUNTRY_SA              130 non-null    int32
 46  COUNTRY_SL              130 non-null    int32
 47  COUNTRY_WI              130 non-null    int32
 48  COUNTRY_ZIM             130 non-null    int32
 49  TEAM_DC                 130 non-null    int32
 50  TEAM_DD                 130 non-null    int32
 51  TEAM_KKR                130 non-null    int32
 52  TEAM_KXI                130 non-null    int32
 53  TEAM_KXIP               130 non-null    int32
 54  TEAM_MI                 130 non-null    int32
 55  TEAM_RCB                130 non-null    int32
 56  TEAM_RR                 130 non-null    int32
 57  PLAYING ROLE_Batsman    130 non-null    int32
 58  PLAYING ROLE_Bowler     130 non-null    int32
 59  PLAYING ROLE_W. Keeper  130 non-null    int32
dtypes: float64(14), int32(20), int64(26)
memory usage: 50.9 KB

In [109]:
df1
df_raw=df1.copy()

# Checking VIF values

#OG code which Ma'am gave
def calculate_vif(x_var):
    x_names=x_var.columns
    for i in range (0,x_names.shape[0]):
        x=x_var[x_names[i]]
        y=x_var[x_names.drop(x_names[i])]
        r2=sm.OLS(x,y).fit().rsquared
        vif=round(1/(1-r2),2)
        print(x_names[i],'VIF = ',vif)
calculate_vif(df1)

In [110]:
def calculate_vif(x_var):
    for i in range(x_var.shape[1]):
        x = x_var.iloc[:, i]
        y = x_var.drop(x_var.columns[i], axis=1)
        r_squared = sm.OLS(x, y).fit().rsquared
        vif = round(1 / (1 - r_squared), 2)
        print(x_var.columns[i], 'VIF =', vif)

# Example usage:
calculate_vif(df1)

AGE VIF = 29.07
T-RUNS VIF = 13.25
T-WKTS VIF = 8.88
ODI-RUNS-S VIF = 17.46
ODI-SR-B VIF = 15.06
ODI-WKTS VIF = 12.97
ODI-SR-BL VIF = 4.8
CAPTAINCY EXP VIF = 4.53
RUNS-S VIF = 18.39
HS VIF = 24.96
AVE VIF = 32.1
SR-B VIF = 25.42
SIXERS VIF = 10.39
RUNS-C VIF = 43.75
WKTS VIF = 39.09
AVE-BL VIF = 106.91
ECON VIF = 7.93
SR-BL VIF = 109.3
AUCTION YEAR VIF = 80.73
BASE PRICE VIF = 9.0
AGE VIF = 29.07
T-RUNS VIF = 13.25
T-WKTS VIF = 8.88
ODI-RUNS-S VIF = 17.46
ODI-SR-B VIF = 15.06
ODI-WKTS VIF = 12.97
ODI-SR-BL VIF = 4.8
CAPTAINCY EXP VIF = 4.53
RUNS-S VIF = 18.39
HS VIF = 24.96
AVE VIF = 32.1
SR-B VIF = 25.42
SIXERS VIF = 10.39
RUNS-C VIF = 43.75
WKTS VIF = 39.09
AVE-BL VIF = 106.91
ECON VIF = 7.93
SR-BL VIF = 109.3
AUCTION YEAR VIF = 80.73
BASE PRICE VIF = 9.0
COUNTRY_BAN VIF = 1.7
COUNTRY_ENG VIF = 2.57
COUNTRY_IND VIF = 6.37
COUNTRY_NZ VIF = 1.67
COUNTRY_PAK VIF = 2.12
COUNTRY_SA VIF = 2.34
COUNTRY_SL VIF = 2.21
COUNTRY_WI VIF = 1.62
COUNTRY_ZIM VIF = 1.41
TEAM_DC VIF = 2.34
TEAM_DD VIF = 2.2
TEAM_KKR VIF = 2.28
TEAM_KXI VIF = 1.5
TEAM_KXIP VIF = 2.05
TEAM_MI VIF = 2.11
TEAM_RCB VIF = 2.61
TEAM_RR VIF = 2.3
PLAYING ROLE_Batsman VIF = 5.93
PLAYING ROLE_Bowler VIF = 4.88
PLAYING ROLE_W. Keeper VIF = 3.6

In [111]:
df1.drop(['AUCTION YEAR'],inplace=True,axis=1)
calculate_vif(df1)

AGE VIF = 16.08
T-RUNS VIF = 13.11
T-WKTS VIF = 8.78
ODI-RUNS-S VIF = 17.45
ODI-SR-B VIF = 14.35
ODI-WKTS VIF = 12.42
ODI-SR-BL VIF = 4.69
CAPTAINCY EXP VIF = 4.51
RUNS-S VIF = 18.17
HS VIF = 24.95
AVE VIF = 31.18
SR-B VIF = 23.9
SIXERS VIF = 10.38
RUNS-C VIF = 43.71
WKTS VIF = 39.09
AVE-BL VIF = 106.24
ECON VIF = 7.91
SR-BL VIF = 109.17
BASE PRICE VIF = 8.99
AGE VIF = 16.08
T-RUNS VIF = 13.11
T-WKTS VIF = 8.78
ODI-RUNS-S VIF = 17.45
ODI-SR-B VIF = 14.35
ODI-WKTS VIF = 12.42
ODI-SR-BL VIF = 4.69
CAPTAINCY EXP VIF = 4.51
RUNS-S VIF = 18.17
HS VIF = 24.95
AVE VIF = 31.18
SR-B VIF = 23.9
SIXERS VIF = 10.38
RUNS-C VIF = 43.71
WKTS VIF = 39.09
AVE-BL VIF = 106.24
ECON VIF = 7.91
SR-BL VIF = 109.17
BASE PRICE VIF = 8.99
COUNTRY_BAN VIF = 1.6
COUNTRY_ENG VIF = 2.52
COUNTRY_IND VIF = 5.42
COUNTRY_NZ VIF = 1.53
COUNTRY_PAK VIF = 2.02
COUNTRY_SA VIF = 2.11
COUNTRY_SL VIF = 2.04
COUNTRY_WI VIF = 1.55
COUNTRY_ZIM VIF = 1.39
TEAM_DC VIF = 2.28
TEAM_DD VIF = 2.02
TEAM_KKR VIF = 2.2
TEAM_KXI VIF = 1.45
TEAM_KXIP VIF = 1.91
TEAM_MI VIF = 2.05
TEAM_RCB VIF = 2.55
TEAM_RR VIF = 2.19
PLAYING ROLE_Batsman VIF = 5.72
PLAYING ROLE_Bowler VIF = 4.5
PLAYING ROLE_W. Keeper VIF = 3.5

In [112]:
df1.drop(['AVE-BL'],inplace=True,axis=1)
calculate_vif(df1)

AGE VIF = 16.06
T-RUNS VIF = 13.08
T-WKTS VIF = 8.78
ODI-RUNS-S VIF = 17.44
ODI-SR-B VIF = 14.34
ODI-WKTS VIF = 12.37
ODI-SR-BL VIF = 4.6
CAPTAINCY EXP VIF = 4.51
RUNS-S VIF = 18.08
HS VIF = 24.84
AVE VIF = 31.13
SR-B VIF = 23.77
SIXERS VIF = 10.38
RUNS-C VIF = 43.26
WKTS VIF = 37.23
ECON VIF = 7.69
SR-BL VIF = 9.48
BASE PRICE VIF = 8.97
AGE VIF = 16.06
T-RUNS VIF = 13.08
T-WKTS VIF = 8.78
ODI-RUNS-S VIF = 17.44
ODI-SR-B VIF = 14.34
ODI-WKTS VIF = 12.37
ODI-SR-BL VIF = 4.6
CAPTAINCY EXP VIF = 4.51
RUNS-S VIF = 18.08
HS VIF = 24.84
AVE VIF = 31.13
SR-B VIF = 23.77
SIXERS VIF = 10.38
RUNS-C VIF = 43.26
WKTS VIF = 37.23
ECON VIF = 7.69
SR-BL VIF = 9.48
BASE PRICE VIF = 8.97
COUNTRY_BAN VIF = 1.59
COUNTRY_ENG VIF = 2.52
COUNTRY_IND VIF = 5.34
COUNTRY_NZ VIF = 1.51
COUNTRY_PAK VIF = 2.01
COUNTRY_SA VIF = 2.08
COUNTRY_SL VIF = 2.04
COUNTRY_WI VIF = 1.54
COUNTRY_ZIM VIF = 1.39
TEAM_DC VIF = 2.28
TEAM_DD VIF = 2.01
TEAM_KKR VIF = 2.19
TEAM_KXI VIF = 1.45
TEAM_KXIP VIF = 1.91
TEAM_MI VIF = 2.04
TEAM_RCB VIF = 2.53
TEAM_RR VIF = 2.13
PLAYING ROLE_Batsman VIF = 5.67
PLAYING ROLE_Bowler VIF = 4.5
PLAYING ROLE_W. Keeper VIF = 3.49

In [113]:
df1.drop(['WKTS'],inplace=True,axis=1)
calculate_vif(df1)

AGE VIF = 15.75
T-RUNS VIF = 13.05
T-WKTS VIF = 8.77
ODI-RUNS-S VIF = 17.38
ODI-SR-B VIF = 14.34
ODI-WKTS VIF = 12.34
ODI-SR-BL VIF = 4.6
CAPTAINCY EXP VIF = 4.5
RUNS-S VIF = 17.93
HS VIF = 24.77
AVE VIF = 29.54
SR-B VIF = 23.14
SIXERS VIF = 10.37
RUNS-C VIF = 4.22
ECON VIF = 7.5
SR-BL VIF = 8.73
BASE PRICE VIF = 8.94
AGE VIF = 15.75
T-RUNS VIF = 13.05
T-WKTS VIF = 8.77
ODI-RUNS-S VIF = 17.38
ODI-SR-B VIF = 14.34
ODI-WKTS VIF = 12.34
ODI-SR-BL VIF = 4.6
CAPTAINCY EXP VIF = 4.5
RUNS-S VIF = 17.93
HS VIF = 24.77
AVE VIF = 29.54
SR-B VIF = 23.14
SIXERS VIF = 10.37
RUNS-C VIF = 4.22
ECON VIF = 7.5
SR-BL VIF = 8.73
BASE PRICE VIF = 8.94
COUNTRY_BAN VIF = 1.58
COUNTRY_ENG VIF = 2.51
COUNTRY_IND VIF = 5.13
COUNTRY_NZ VIF = 1.51
COUNTRY_PAK VIF = 2.01
COUNTRY_SA VIF = 2.08
COUNTRY_SL VIF = 2.02
COUNTRY_WI VIF = 1.54
COUNTRY_ZIM VIF = 1.39
TEAM_DC VIF = 2.28
TEAM_DD VIF = 2.0
TEAM_KKR VIF = 2.17
TEAM_KXI VIF = 1.36
TEAM_KXIP VIF = 1.91
TEAM_MI VIF = 2.01
TEAM_RCB VIF = 2.46
TEAM_RR VIF = 2.13
PLAYING ROLE_Batsman VIF = 5.6
PLAYING ROLE_Bowler VIF = 4.44
PLAYING ROLE_W. Keeper VIF = 3.46

In [114]:
df1.drop(['HS'],inplace=True,axis=1)
calculate_vif(df1)

AGE VIF = 15.68
T-RUNS VIF = 12.8
T-WKTS VIF = 8.52
ODI-RUNS-S VIF = 16.96
ODI-SR-B VIF = 14.32
ODI-WKTS VIF = 12.15
ODI-SR-BL VIF = 4.59
CAPTAINCY EXP VIF = 4.45
RUNS-S VIF = 16.59
AVE VIF = 22.77
SR-B VIF = 23.1
SIXERS VIF = 9.83
RUNS-C VIF = 4.12
ECON VIF = 7.34
SR-BL VIF = 8.73
BASE PRICE VIF = 8.83
AGE VIF = 15.68
T-RUNS VIF = 12.8
T-WKTS VIF = 8.52
ODI-RUNS-S VIF = 16.96
ODI-SR-B VIF = 14.32
ODI-WKTS VIF = 12.15
ODI-SR-BL VIF = 4.59
CAPTAINCY EXP VIF = 4.45
RUNS-S VIF = 16.59
AVE VIF = 22.77
SR-B VIF = 23.1
SIXERS VIF = 9.83
RUNS-C VIF = 4.12
ECON VIF = 7.34
SR-BL VIF = 8.73
BASE PRICE VIF = 8.83
COUNTRY_BAN VIF = 1.58
COUNTRY_ENG VIF = 2.51
COUNTRY_IND VIF = 4.81
COUNTRY_NZ VIF = 1.45
COUNTRY_PAK VIF = 1.97
COUNTRY_SA VIF = 2.02
COUNTRY_SL VIF = 2.02
COUNTRY_WI VIF = 1.5
COUNTRY_ZIM VIF = 1.35
TEAM_DC VIF = 2.21
TEAM_DD VIF = 1.97
TEAM_KKR VIF = 2.12
TEAM_KXI VIF = 1.36
TEAM_KXIP VIF = 1.84
TEAM_MI VIF = 1.97
TEAM_RCB VIF = 2.41
TEAM_RR VIF = 2.03
PLAYING ROLE_Batsman VIF = 5.58
PLAYING ROLE_Bowler VIF = 4.42
PLAYING ROLE_W. Keeper VIF = 3.41

In [115]:
df1.drop(['AGE'],inplace=True,axis=1)
calculate_vif(df1)

T-RUNS VIF = 12.6
T-WKTS VIF = 8.36
ODI-RUNS-S VIF = 16.78
ODI-SR-B VIF = 14.16
ODI-WKTS VIF = 12.11
ODI-SR-BL VIF = 4.58
CAPTAINCY EXP VIF = 4.35
RUNS-S VIF = 16.3
AVE VIF = 21.94
SR-B VIF = 22.17
SIXERS VIF = 9.81
RUNS-C VIF = 4.1
ECON VIF = 7.32
SR-BL VIF = 8.72
BASE PRICE VIF = 8.82
T-RUNS VIF = 12.6
T-WKTS VIF = 8.36
ODI-RUNS-S VIF = 16.78
ODI-SR-B VIF = 14.16
ODI-WKTS VIF = 12.11
ODI-SR-BL VIF = 4.58
CAPTAINCY EXP VIF = 4.35
RUNS-S VIF = 16.3
AVE VIF = 21.94
SR-B VIF = 22.17
SIXERS VIF = 9.81
RUNS-C VIF = 4.1
ECON VIF = 7.32
SR-BL VIF = 8.72
BASE PRICE VIF = 8.82
COUNTRY_BAN VIF = 1.57
COUNTRY_ENG VIF = 2.51
COUNTRY_IND VIF = 4.81
COUNTRY_NZ VIF = 1.43
COUNTRY_PAK VIF = 1.97
COUNTRY_SA VIF = 1.95
COUNTRY_SL VIF = 2.01
COUNTRY_WI VIF = 1.5
COUNTRY_ZIM VIF = 1.35
TEAM_DC VIF = 2.02
TEAM_DD VIF = 1.85
TEAM_KKR VIF = 2.02
TEAM_KXI VIF = 1.36
TEAM_KXIP VIF = 1.77
TEAM_MI VIF = 1.94
TEAM_RCB VIF = 2.32
TEAM_RR VIF = 1.96
PLAYING ROLE_Batsman VIF = 5.41
PLAYING ROLE_Bowler VIF = 4.15
PLAYING ROLE_W. Keeper VIF = 3.37

In [116]:
df1.drop(['BASE PRICE'],inplace=True,axis=1)
calculate_vif(df1)

T-RUNS VIF = 12.35
T-WKTS VIF = 8.27
ODI-RUNS-S VIF = 16.71
ODI-SR-B VIF = 14.1
ODI-WKTS VIF = 12.09
ODI-SR-BL VIF = 4.58
CAPTAINCY EXP VIF = 4.32
RUNS-S VIF = 15.67
AVE VIF = 19.89
SR-B VIF = 21.67
SIXERS VIF = 9.57
RUNS-C VIF = 4.03
ECON VIF = 7.31
SR-BL VIF = 8.72
T-RUNS VIF = 12.35
T-WKTS VIF = 8.27
ODI-RUNS-S VIF = 16.71
ODI-SR-B VIF = 14.1
ODI-WKTS VIF = 12.09
ODI-SR-BL VIF = 4.58
CAPTAINCY EXP VIF = 4.32
RUNS-S VIF = 15.67
AVE VIF = 19.89
SR-B VIF = 21.67
SIXERS VIF = 9.57
RUNS-C VIF = 4.03
ECON VIF = 7.31
SR-BL VIF = 8.72
COUNTRY_BAN VIF = 1.56
COUNTRY_ENG VIF = 1.35
COUNTRY_IND VIF = 4.8
COUNTRY_NZ VIF = 1.41
COUNTRY_PAK VIF = 1.94
COUNTRY_SA VIF = 1.95
COUNTRY_SL VIF = 2.01
COUNTRY_WI VIF = 1.49
COUNTRY_ZIM VIF = 1.35
TEAM_DC VIF = 2.02
TEAM_DD VIF = 1.84
TEAM_KKR VIF = 2.01
TEAM_KXI VIF = 1.35
TEAM_KXIP VIF = 1.76
TEAM_MI VIF = 1.94
TEAM_RCB VIF = 2.31
TEAM_RR VIF = 1.93
PLAYING ROLE_Batsman VIF = 5.26
PLAYING ROLE_Bowler VIF = 3.87
PLAYING ROLE_W. Keeper VIF = 3.32

In [117]:
df1.drop(['COUNTRY_IND'],inplace=True,axis=1)
calculate_vif(df1)

T-RUNS VIF = 12.29
T-WKTS VIF = 7.52
ODI-RUNS-S VIF = 16.32
ODI-SR-B VIF = 14.08
ODI-WKTS VIF = 11.36
ODI-SR-BL VIF = 4.57
CAPTAINCY EXP VIF = 4.32
RUNS-S VIF = 14.21
AVE VIF = 19.11
SR-B VIF = 21.28
SIXERS VIF = 9.27
RUNS-C VIF = 3.89
ECON VIF = 7.31
SR-BL VIF = 8.1
T-RUNS VIF = 12.29
T-WKTS VIF = 7.52
ODI-RUNS-S VIF = 16.32
ODI-SR-B VIF = 14.08
ODI-WKTS VIF = 11.36
ODI-SR-BL VIF = 4.57
CAPTAINCY EXP VIF = 4.32
RUNS-S VIF = 14.21
AVE VIF = 19.11
SR-B VIF = 21.28
SIXERS VIF = 9.27
RUNS-C VIF = 3.89
ECON VIF = 7.31
SR-BL VIF = 8.1
COUNTRY_BAN VIF = 1.52
COUNTRY_ENG VIF = 1.32
COUNTRY_NZ VIF = 1.3
COUNTRY_PAK VIF = 1.67
COUNTRY_SA VIF = 1.44
COUNTRY_SL VIF = 1.56
COUNTRY_WI VIF = 1.4
COUNTRY_ZIM VIF = 1.32
TEAM_DC VIF = 2.02
TEAM_DD VIF = 1.84
TEAM_KKR VIF = 2.01
TEAM_KXI VIF = 1.26
TEAM_KXIP VIF = 1.76
TEAM_MI VIF = 1.9
TEAM_RCB VIF = 2.28
TEAM_RR VIF = 1.87
PLAYING ROLE_Batsman VIF = 4.58
PLAYING ROLE_Bowler VIF = 3.5
PLAYING ROLE_W. Keeper VIF = 2.88

In [118]:
df1.drop(['PLAYING ROLE_Batsman'],inplace=True,axis=1)
calculate_vif(df1)

T-RUNS VIF = 12.28
T-WKTS VIF = 6.95
ODI-RUNS-S VIF = 16.3
ODI-SR-B VIF = 13.59
ODI-WKTS VIF = 9.71
ODI-SR-BL VIF = 4.56
CAPTAINCY EXP VIF = 4.28
RUNS-S VIF = 13.94
AVE VIF = 18.64
SR-B VIF = 20.93
SIXERS VIF = 9.25
RUNS-C VIF = 3.59
ECON VIF = 7.26
SR-BL VIF = 7.19
T-RUNS VIF = 12.28
T-WKTS VIF = 6.95
ODI-RUNS-S VIF = 16.3
ODI-SR-B VIF = 13.59
ODI-WKTS VIF = 9.71
ODI-SR-BL VIF = 4.56
CAPTAINCY EXP VIF = 4.28
RUNS-S VIF = 13.94
AVE VIF = 18.64
SR-B VIF = 20.93
SIXERS VIF = 9.25
RUNS-C VIF = 3.59
ECON VIF = 7.26
SR-BL VIF = 7.19
COUNTRY_BAN VIF = 1.52
COUNTRY_ENG VIF = 1.31
COUNTRY_NZ VIF = 1.29
COUNTRY_PAK VIF = 1.67
COUNTRY_SA VIF = 1.43
COUNTRY_SL VIF = 1.54
COUNTRY_WI VIF = 1.38
COUNTRY_ZIM VIF = 1.31
TEAM_DC VIF = 1.92
TEAM_DD VIF = 1.82
TEAM_KKR VIF = 2.0
TEAM_KXI VIF = 1.22
TEAM_KXIP VIF = 1.66
TEAM_MI VIF = 1.85
TEAM_RCB VIF = 2.26
TEAM_RR VIF = 1.87
PLAYING ROLE_Bowler VIF = 3.5
PLAYING ROLE_W. Keeper VIF = 1.8

In [119]:
df1.drop(['SR-BL'],inplace=True,axis=1)
calculate_vif(df1)

T-RUNS VIF = 12.07
T-WKTS VIF = 6.94
ODI-RUNS-S VIF = 16.29
ODI-SR-B VIF = 13.58
ODI-WKTS VIF = 9.67
ODI-SR-BL VIF = 4.2
CAPTAINCY EXP VIF = 4.28
RUNS-S VIF = 13.94
AVE VIF = 18.61
SR-B VIF = 20.79
SIXERS VIF = 9.22
RUNS-C VIF = 3.53
ECON VIF = 4.51
T-RUNS VIF = 12.07
T-WKTS VIF = 6.94
ODI-RUNS-S VIF = 16.29
ODI-SR-B VIF = 13.58
ODI-WKTS VIF = 9.67
ODI-SR-BL VIF = 4.2
CAPTAINCY EXP VIF = 4.28
RUNS-S VIF = 13.94
AVE VIF = 18.61
SR-B VIF = 20.79
SIXERS VIF = 9.22
RUNS-C VIF = 3.53
ECON VIF = 4.51
COUNTRY_BAN VIF = 1.39
COUNTRY_ENG VIF = 1.3
COUNTRY_NZ VIF = 1.29
COUNTRY_PAK VIF = 1.65
COUNTRY_SA VIF = 1.41
COUNTRY_SL VIF = 1.54
COUNTRY_WI VIF = 1.37
COUNTRY_ZIM VIF = 1.31
TEAM_DC VIF = 1.91
TEAM_DD VIF = 1.8
TEAM_KKR VIF = 1.98
TEAM_KXI VIF = 1.19
TEAM_KXIP VIF = 1.65
TEAM_MI VIF = 1.85
TEAM_RCB VIF = 2.25
TEAM_RR VIF = 1.86
PLAYING ROLE_Bowler VIF = 3.49
PLAYING ROLE_W. Keeper VIF = 1.8

In [120]:
df1.drop(['T-RUNS'],inplace=True,axis=1)
calculate_vif(df1)

T-WKTS VIF = 5.98
ODI-RUNS-S VIF = 5.51
ODI-SR-B VIF = 13.58
ODI-WKTS VIF = 8.72
ODI-SR-BL VIF = 4.16
CAPTAINCY EXP VIF = 4.27
RUNS-S VIF = 13.74
AVE VIF = 18.5
SR-B VIF = 20.7
SIXERS VIF = 8.25
RUNS-C VIF = 3.49
ECON VIF = 4.29
T-WKTS VIF = 5.98
ODI-RUNS-S VIF = 5.51
ODI-SR-B VIF = 13.58
ODI-WKTS VIF = 8.72
ODI-SR-BL VIF = 4.16
CAPTAINCY EXP VIF = 4.27
RUNS-S VIF = 13.74
AVE VIF = 18.5
SR-B VIF = 20.7
SIXERS VIF = 8.25
RUNS-C VIF = 3.49
ECON VIF = 4.29
COUNTRY_BAN VIF = 1.37
COUNTRY_ENG VIF = 1.28
COUNTRY_NZ VIF = 1.29
COUNTRY_PAK VIF = 1.64
COUNTRY_SA VIF = 1.41
COUNTRY_SL VIF = 1.53
COUNTRY_WI VIF = 1.33
COUNTRY_ZIM VIF = 1.29
TEAM_DC VIF = 1.91
TEAM_DD VIF = 1.79
TEAM_KKR VIF = 1.95
TEAM_KXI VIF = 1.18
TEAM_KXIP VIF = 1.65
TEAM_MI VIF = 1.85
TEAM_RCB VIF = 2.22
TEAM_RR VIF = 1.86
PLAYING ROLE_Bowler VIF = 3.49
PLAYING ROLE_W. Keeper VIF = 1.77

In [121]:
df1.drop(['T-WKTS'],inplace=True,axis=1)
calculate_vif(df1)

ODI-RUNS-S VIF = 4.86
ODI-SR-B VIF = 13.52
ODI-WKTS VIF = 2.73
ODI-SR-BL VIF = 4.15
CAPTAINCY EXP VIF = 3.89
RUNS-S VIF = 13.38
AVE VIF = 18.49
SR-B VIF = 20.56
SIXERS VIF = 8.14
RUNS-C VIF = 3.47
ECON VIF = 4.27
ODI-RUNS-S VIF = 4.86
ODI-SR-B VIF = 13.52
ODI-WKTS VIF = 2.73
ODI-SR-BL VIF = 4.15
CAPTAINCY EXP VIF = 3.89
RUNS-S VIF = 13.38
AVE VIF = 18.49
SR-B VIF = 20.56
SIXERS VIF = 8.14
RUNS-C VIF = 3.47
ECON VIF = 4.27
COUNTRY_BAN VIF = 1.27
COUNTRY_ENG VIF = 1.28
COUNTRY_NZ VIF = 1.29
COUNTRY_PAK VIF = 1.58
COUNTRY_SA VIF = 1.41
COUNTRY_SL VIF = 1.53
COUNTRY_WI VIF = 1.31
COUNTRY_ZIM VIF = 1.29
TEAM_DC VIF = 1.91
TEAM_DD VIF = 1.79
TEAM_KKR VIF = 1.95
TEAM_KXI VIF = 1.16
TEAM_KXIP VIF = 1.64
TEAM_MI VIF = 1.83
TEAM_RCB VIF = 2.21
TEAM_RR VIF = 1.84
PLAYING ROLE_Bowler VIF = 3.27
PLAYING ROLE_W. Keeper VIF = 1.76

In [122]:
df1.drop(['ODI-RUNS-S'],inplace=True,axis=1)
calculate_vif(df1)

ODI-SR-B VIF = 13.48
ODI-WKTS VIF = 2.71
ODI-SR-BL VIF = 4.11
CAPTAINCY EXP VIF = 2.52
RUNS-S VIF = 11.44
AVE VIF = 18.43
SR-B VIF = 20.55
SIXERS VIF = 7.79
RUNS-C VIF = 3.47
ECON VIF = 4.2
ODI-SR-B VIF = 13.48
ODI-WKTS VIF = 2.71
ODI-SR-BL VIF = 4.11
CAPTAINCY EXP VIF = 2.52
RUNS-S VIF = 11.44
AVE VIF = 18.43
SR-B VIF = 20.55
SIXERS VIF = 7.79
RUNS-C VIF = 3.47
ECON VIF = 4.2
COUNTRY_BAN VIF = 1.26
COUNTRY_ENG VIF = 1.28
COUNTRY_NZ VIF = 1.28
COUNTRY_PAK VIF = 1.56
COUNTRY_SA VIF = 1.41
COUNTRY_SL VIF = 1.48
COUNTRY_WI VIF = 1.27
COUNTRY_ZIM VIF = 1.28
TEAM_DC VIF = 1.89
TEAM_DD VIF = 1.78
TEAM_KKR VIF = 1.91
TEAM_KXI VIF = 1.16
TEAM_KXIP VIF = 1.61
TEAM_MI VIF = 1.82
TEAM_RCB VIF = 2.2
TEAM_RR VIF = 1.84
PLAYING ROLE_Bowler VIF = 3.22
PLAYING ROLE_W. Keeper VIF = 1.75

In [123]:
df1.drop(['ODI-SR-B'],inplace=True,axis=1)
calculate_vif(df1)

ODI-WKTS VIF = 2.68
ODI-SR-BL VIF = 3.53
CAPTAINCY EXP VIF = 2.51
RUNS-S VIF = 11.37
AVE VIF = 18.15
SR-B VIF = 18.14
SIXERS VIF = 7.78
RUNS-C VIF = 3.45
ECON VIF = 4.19
ODI-WKTS VIF = 2.68
ODI-SR-BL VIF = 3.53
CAPTAINCY EXP VIF = 2.51
RUNS-S VIF = 11.37
AVE VIF = 18.15
SR-B VIF = 18.14
SIXERS VIF = 7.78
RUNS-C VIF = 3.45
ECON VIF = 4.19
COUNTRY_BAN VIF = 1.23
COUNTRY_ENG VIF = 1.25
COUNTRY_NZ VIF = 1.24
COUNTRY_PAK VIF = 1.52
COUNTRY_SA VIF = 1.38
COUNTRY_SL VIF = 1.47
COUNTRY_WI VIF = 1.26
COUNTRY_ZIM VIF = 1.28
TEAM_DC VIF = 1.88
TEAM_DD VIF = 1.78
TEAM_KKR VIF = 1.91
TEAM_KXI VIF = 1.15
TEAM_KXIP VIF = 1.61
TEAM_MI VIF = 1.82
TEAM_RCB VIF = 2.19
TEAM_RR VIF = 1.84
PLAYING ROLE_Bowler VIF = 3.14
PLAYING ROLE_W. Keeper VIF = 1.72

In [124]:
df1.drop(['RUNS-S'],inplace=True,axis=1)
calculate_vif(df1)

ODI-WKTS VIF = 2.66
ODI-SR-BL VIF = 3.47
CAPTAINCY EXP VIF = 2.45
AVE VIF = 15.2
SR-B VIF = 17.4
SIXERS VIF = 3.6
RUNS-C VIF = 3.44
ECON VIF = 4.17
ODI-WKTS VIF = 2.66
ODI-SR-BL VIF = 3.47
CAPTAINCY EXP VIF = 2.45
AVE VIF = 15.2
SR-B VIF = 17.4
SIXERS VIF = 3.6
RUNS-C VIF = 3.44
ECON VIF = 4.17
COUNTRY_BAN VIF = 1.23
COUNTRY_ENG VIF = 1.2
COUNTRY_NZ VIF = 1.22
COUNTRY_PAK VIF = 1.5
COUNTRY_SA VIF = 1.37
COUNTRY_SL VIF = 1.47
COUNTRY_WI VIF = 1.17
COUNTRY_ZIM VIF = 1.28
TEAM_DC VIF = 1.87
TEAM_DD VIF = 1.74
TEAM_KKR VIF = 1.9
TEAM_KXI VIF = 1.15
TEAM_KXIP VIF = 1.6
TEAM_MI VIF = 1.77
TEAM_RCB VIF = 2.15
TEAM_RR VIF = 1.83
PLAYING ROLE_Bowler VIF = 3.14
PLAYING ROLE_W. Keeper VIF = 1.7

In [125]:
df1.drop(['AVE'],inplace=True,axis=1)
calculate_vif(df1)

ODI-WKTS VIF = 2.65
ODI-SR-BL VIF = 3.42
CAPTAINCY EXP VIF = 2.34
SR-B VIF = 8.74
SIXERS VIF = 2.74
RUNS-C VIF = 3.38
ECON VIF = 4.17
ODI-WKTS VIF = 2.65
ODI-SR-BL VIF = 3.42
CAPTAINCY EXP VIF = 2.34
SR-B VIF = 8.74
SIXERS VIF = 2.74
RUNS-C VIF = 3.38
ECON VIF = 4.17
COUNTRY_BAN VIF = 1.23
COUNTRY_ENG VIF = 1.16
COUNTRY_NZ VIF = 1.22
COUNTRY_PAK VIF = 1.42
COUNTRY_SA VIF = 1.34
COUNTRY_SL VIF = 1.45
COUNTRY_WI VIF = 1.17
COUNTRY_ZIM VIF = 1.23
TEAM_DC VIF = 1.86
TEAM_DD VIF = 1.71
TEAM_KKR VIF = 1.89
TEAM_KXI VIF = 1.15
TEAM_KXIP VIF = 1.56
TEAM_MI VIF = 1.76
TEAM_RCB VIF = 2.15
TEAM_RR VIF = 1.81
PLAYING ROLE_Bowler VIF = 3.01
PLAYING ROLE_W. Keeper VIF = 1.7

In [126]:
df1.drop(['SR-B'],inplace=True,axis=1)
calculate_vif(df1)

ODI-WKTS VIF = 2.65
ODI-SR-BL VIF = 3.24
CAPTAINCY EXP VIF = 2.34
SIXERS VIF = 2.26
RUNS-C VIF = 3.36
ECON VIF = 4.09
ODI-WKTS VIF = 2.65
ODI-SR-BL VIF = 3.24
CAPTAINCY EXP VIF = 2.34
SIXERS VIF = 2.26
RUNS-C VIF = 3.36
ECON VIF = 4.09
COUNTRY_BAN VIF = 1.17
COUNTRY_ENG VIF = 1.15
COUNTRY_NZ VIF = 1.19
COUNTRY_PAK VIF = 1.39
COUNTRY_SA VIF = 1.34
COUNTRY_SL VIF = 1.43
COUNTRY_WI VIF = 1.17
COUNTRY_ZIM VIF = 1.23
TEAM_DC VIF = 1.57
TEAM_DD VIF = 1.5
TEAM_KKR VIF = 1.72
TEAM_KXI VIF = 1.13
TEAM_KXIP VIF = 1.38
TEAM_MI VIF = 1.5
TEAM_RCB VIF = 1.82
TEAM_RR VIF = 1.54
PLAYING ROLE_Bowler VIF = 2.99
PLAYING ROLE_W. Keeper VIF = 1.6

In [127]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ODI-WKTS                130 non-null    int64
 1   ODI-SR-BL               130 non-null    float64
 2   CAPTAINCY EXP           130 non-null    int64
 3   SIXERS                  130 non-null    int64
 4   RUNS-C                  130 non-null    int64
 5   ECON                    130 non-null    float64
 6   ODI-WKTS                130 non-null    int64
 7   ODI-SR-BL               130 non-null    float64
 8   CAPTAINCY EXP           130 non-null    int64
 9   SIXERS                  130 non-null    int64
 10  RUNS-C                  130 non-null    int64
 11  ECON                    130 non-null    float64
 12  COUNTRY_BAN             130 non-null    int32
 13  COUNTRY_ENG             130 non-null    int32
 14  COUNTRY_NZ              130 non-null    int32
 15  COUNTRY_PAK             130 non-null    int32
 16  COUNTRY_SA              130 non-null    int32
 17  COUNTRY_SL              130 non-null    int32
 18  COUNTRY_WI              130 non-null    int32
 19  COUNTRY_ZIM             130 non-null    int32
 20  TEAM_DC                 130 non-null    int32
 21  TEAM_DD                 130 non-null    int32
 22  TEAM_KKR                130 non-null    int32
 23  TEAM_KXI                130 non-null    int32
 24  TEAM_KXIP               130 non-null    int32
 25  TEAM_MI                 130 non-null    int32
 26  TEAM_RCB                130 non-null    int32
 27  TEAM_RR                 130 non-null    int32
 28  PLAYING ROLE_Bowler     130 non-null    int32
 29  PLAYING ROLE_W. Keeper  130 non-null    int32
dtypes: float64(4), int32(18), int64(8)
memory usage: 21.5 KB

# Raw Data Model

In [128]:
x=sm.add_constant(df_raw[0:])
y=df['SOLD PRICE']
print(x.shape)
print(y.shape)
x

(130, 61)
(130,)

,const,AGE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,RUNS-S,...,TEAM_DD,TEAM_KKR,TEAM_KXI,TEAM_KXIP,TEAM_MI,TEAM_RCB,TEAM_RR,PLAYING ROLE_Batsman,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper
0,1.0,2,0,0,0,0.00,0,0.0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1.0,2,214,18,657,71.41,185,37.6,0,0,...,0,0,0,0,0,1,0,0,1,0
2,1.0,2,571,58,1269,80.62,288,32.9,0,167,...,0,1,0,0,0,0,0,0,1,0
3,1.0,1,284,31,241,84.56,51,36.8,0,58,...,0,0,0,0,0,0,0,0,1,0
4,1.0,2,63,0,79,45.93,0,0.0,0,1317,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1.0,2,0,0,0,0.00,0,0.0,0,49,...,0,0,0,0,0,0,0,1,0,0
126,1.0,2,6398,7,6814,75.78,3,86.6,1,3,...,0,0,0,0,0,0,1,1,0,0
127,1.0,2,1775,9,8051,87.58,109,44.3,1,1237,...,0,0,0,1,0,0,0,1,0,0
128,1.0,2,1114,288,790,73.55,278,35.4,0,99,...,0,0,0,0,1,0,0,0,1,0
129,1.0,2,288,64,343,95.81,108,39.4,0,11,...,0,0,0,0,0,0,0,0,1,0

In [129]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=100)
raw_fit=sm.OLS(y_train,x_train).fit()

In [130]:
print(raw_fit.summary2())

                                 Results: Ordinary least squares
==================================================================================================
Model:                         OLS                        Adj. R-squared:               0.500
Dependent Variable:            SOLD PRICE                 AIC:                          2942.9586
Date:                          2024-04-27 06:50           BIC:                          3051.3787
No. Observations:              104                        Log-Likelihood:               -1430.5
Df Model:                      40                         F-statistic:                  3.579
Df Residuals:                  63                         Prob (F-statistic):           3.04e-06
R-squared:                     0.694                      Scale:                        8.5570e+10
--------------------------------------------------------------------------------------------------
                            Coef.         Std.Err.      t    P>|t|       [0.025         0.975]
--------------------------------------------------------------------------------------------------
const                  -145267966.5098 56181770.4073 -2.5857 0.0120 -257538276.0233 -32997656.9963
AGE                        -41887.9506    37611.4798 -1.1137 0.2696    -117048.4954     33272.5942
T-RUNS                        -21.6265       14.9110 -1.4504 0.1519        -51.4238         8.1707
T-WKTS                        -88.7712      299.6489 -0.2963 0.7680       -687.5718       510.0293
ODI-RUNS-S                     10.2805       17.0892  0.6016 0.5496        -23.8695        44.4305
ODI-SR-B                      164.9458      786.5483  0.2097 0.8346      -1406.8456      1736.7371
ODI-WKTS                      382.0116      411.0031  0.9295 0.3562       -439.3125      1203.3357
ODI-SR-BL                    -167.1274      716.7337 -0.2332 0.8164      -1599.4055      1265.1507
CAPTAINCY EXP              106550.0755    59383.8562  1.7943 0.0776     -12119.0920    225219.2429
RUNS-S                         95.4458       79.8315  1.1956 0.2363        -64.0848       254.9763
HS                          -1715.5874     1335.0221 -1.2851 0.2035      -4383.4163       952.2414
AVE                          -332.2445     4185.3272 -0.0794 0.9370      -8695.9536      8031.4646
SR-B                           61.3548      635.8727  0.0965 0.9234      -1209.3353      1332.0449
SIXERS                       2314.6739     1573.2813  1.4712 0.1462       -829.2779      5458.6256
RUNS-C                        102.3309      170.4319  0.6004 0.5504       -238.2500       442.9119
WKTS                        -1376.9516     4319.5030 -0.3188 0.7510     -10008.7894      7254.8863
AVE-BL                       4249.5809     4709.7294  0.9023 0.3703      -5162.0624     13661.2241
ECON                        -4296.6998     5720.8058 -0.7511 0.4554     -15728.8179      7135.4183
SR-BL                       -5597.0741     6276.7948 -0.8917 0.3759     -18140.2476      6946.0994
AUCTION YEAR                36221.5648    13961.1226  2.5945 0.0118       8322.4876     64120.6421
BASE PRICE                      0.7572        0.1679  4.5100 0.0000          0.4217         1.0927
AGE                        -41887.9506    37611.4798 -1.1137 0.2696    -117048.4955     33272.5942
T-RUNS                        -21.6265       14.9110 -1.4504 0.1519        -51.4238         8.1707
T-WKTS                        -88.7712      299.6489 -0.2963 0.7680       -687.5718       510.0293
ODI-RUNS-S                     10.2805       17.0892  0.6016 0.5496        -23.8695        44.4305
ODI-SR-B                      164.9458      786.5483  0.2097 0.8346      -1406.8456      1736.7371
ODI-WKTS                      382.0116      411.0031  0.9295 0.3562       -439.3125      1203.3357
ODI-SR-BL                    -167.1274      716.7337 -0.2332 0.8164      -1599.4055      1265.1507
CAPTAINCY EXP              106550.0755    59383.8562  1.7943 0.0776     -12119.0920    225219.2429
RUNS-S                         95.4458       79.8315  1.1956 0.2363        -64.0848       254.9763
HS                          -1715.5874     1335.0221 -1.2851 0.2035      -4383.4163       952.2414
AVE                          -332.2445     4185.3272 -0.0794 0.9370      -8695.9536      8031.4646
SR-B                           61.3548      635.8727  0.0965 0.9234      -1209.3353      1332.0449
SIXERS                       2314.6739     1573.2813  1.4712 0.1462       -829.2779      5458.6256
RUNS-C                        102.3309      170.4319  0.6004 0.5504       -238.2500       442.9119
WKTS                        -1376.9516     4319.5030 -0.3188 0.7510     -10008.7894      7254.8863
AVE-BL                       4249.5809     4709.7294  0.9023 0.3703      -5162.0624     13661.2241
ECON                        -4296.6998     5720.8058 -0.7511 0.4554     -15728.8179      7135.4183
SR-BL                       -5597.0741     6276.7948 -0.8917 0.3759     -18140.2476      6946.0994
AUCTION YEAR                36221.5648    13961.1226  2.5945 0.0118       8322.4876     64120.6421
BASE PRICE                      0.7572        0.1679  4.5101 0.0000          0.4217         1.0927
COUNTRY_BAN                112420.7402   435006.2596  0.2584 0.7969    -756869.9042    981711.3847
COUNTRY_ENG               -244000.3498   282146.3867 -0.8648 0.3904    -807824.9131    319824.2135
COUNTRY_IND                128531.3003   129422.5954  0.9931 0.3245    -130099.1192    387161.7198
COUNTRY_NZ                 134304.9049   179850.6043  0.7468 0.4580    -225097.8490    493707.6589
COUNTRY_PAK                -29485.6306   191574.5320 -0.1539 0.8782    -412316.7847    353345.5235
COUNTRY_SA                  -3187.3140   133324.6936 -0.0239 0.9810    -269615.4544    263240.8263
COUNTRY_SL                  11716.8542   147062.0504  0.0797 0.9367    -282163.2032    305596.9116
COUNTRY_WI                -304928.2482   198171.0799 -1.5387 0.1289    -700941.5514     91085.0550
COUNTRY_ZIM               -204615.1298   376994.3490 -0.5428 0.5892    -957978.2214    548747.9618
TEAM_DC                    111804.4389   124016.2652  0.9015 0.3707    -136022.2917    359631.1695
TEAM_DD                      9974.4459   126383.0784  0.0789 0.9373    -242581.9836    262530.8753
TEAM_KKR                   -18696.5325   129884.3059 -0.1439 0.8860    -278249.6066    240856.5417
TEAM_KXI                   280897.1029   378112.2432  0.7429 0.4603    -474699.9219   1036494.1278
TEAM_KXIP                   22280.9339   151513.0664  0.1471 0.8836    -280493.7693    325055.6371
TEAM_MI                      9179.8400   142712.5554  0.0643 0.9489    -276008.4453    294368.1252
TEAM_RCB                   -94409.5534   122445.0784 -0.7710 0.4436    -339096.5177    150277.4109
TEAM_RR                    -14362.5042   133288.5921 -0.1078 0.9145    -280718.5016    251993.4932
PLAYING ROLE_Batsman        27180.1898   129917.1154  0.2092 0.8350    -232438.4490    286798.8287
PLAYING ROLE_Bowler       -108736.2157   113260.2361 -0.9601 0.3407    -335068.7374    117596.3059
PLAYING ROLE_W. Keeper     -59084.7578   183230.7702 -0.3225 0.7482    -425242.2344    307072.7188
--------------------------------------------------------------------------------------------------
Omnibus:                      13.757              Durbin-Watson:                 1.834
Prob(Omnibus):                0.001               Jarque-Bera (JB):              15.517
Skew:                         0.776               Prob(JB):                      0.000
Kurtosis:                     4.083               Condition No.:                 13152760398886246
==================================================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.87e-20. This might indicate that                there are strong
multicollinearity problems or that the design                matrix is singular.

# Processed Data Model

In [131]:
x=sm.add_constant(df1[0:])
y=df['SOLD PRICE']
print(x.shape)
print(y.shape)
x

(130, 31)
(130,)

,const,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,SIXERS,RUNS-C,ECON,ODI-WKTS,ODI-SR-BL,CAPTAINCY EXP,...,TEAM_DC,TEAM_DD,TEAM_KKR,TEAM_KXI,TEAM_KXIP,TEAM_MI,TEAM_RCB,TEAM_RR,PLAYING ROLE_Bowler,PLAYING ROLE_W. Keeper
0,1.0,0,0.0,0,0,307,8.90,0,0.0,0,...,0,0,0,0,1,0,0,0,0,0
1,1.0,185,37.6,0,0,29,14.50,185,37.6,0,...,0,0,0,0,0,0,1,0,1,0
2,1.0,288,32.9,0,5,1059,8.81,288,32.9,0,...,0,0,1,0,0,0,0,0,1,0
3,1.0,51,36.8,0,0,1125,6.23,51,36.8,0,...,0,0,0,0,0,0,0,0,1,0
4,1.0,0,0.0,0,28,0,0.00,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,1.0,0,0.0,0,2,0,0.00,0,0.0,0,...,1,0,0,0,0,0,0,0,0,0
126,1.0,3,86.6,1,0,0,0.00,3,86.6,1,...,0,0,0,0,0,0,0,1,0,0
127,1.0,109,44.3,1,67,569,7.02,109,44.3,1,...,0,0,0,0,1,0,0,0,0,0
128,1.0,278,35.4,0,1,1783,7.75,278,35.4,0,...,0,0,0,0,0,1,0,0,1,0
129,1.0,108,39.4,0,0,99,9.00,108,39.4,0,...,1,0,0,0,0,0,0,0,1,0

In [132]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=100)
sal_fit=sm.OLS(y_train,x_train).fit()

In [133]:
print(sal_fit.summary2())

                             Results: Ordinary least squares
=========================================================================================
Model:                      OLS                     Adj. R-squared:            0.331
Dependent Variable:         SOLD PRICE              AIC:                       2964.8405
Date:                       2024-04-27 06:50        BIC:                       3030.9503
No. Observations:           104                     Log-Likelihood:            -1457.4
Df Model:                   24                      F-statistic:               3.124
Df Residuals:               79                      Prob (F-statistic):        7.56e-05
R-squared:                  0.487                   Scale:                     1.1456e+11
-----------------------------------------------------------------------------------------
                          Coef.       Std.Err.     t    P>|t|      [0.025       0.975]
-----------------------------------------------------------------------------------------
const                   307404.0124 124126.5293  2.4765 0.0154    60336.3361  554471.6887
ODI-WKTS                   169.6352    197.3914  0.8594 0.3927     -223.2627     562.5330
ODI-SR-BL                  -45.9632    709.6945 -0.0648 0.9485    -1458.5747    1366.6484
CAPTAINCY EXP           124593.8905  45005.4422  2.7684 0.0070    35012.7986  214174.9824
SIXERS                    4366.7152    878.9171  4.9683 0.0000     2617.2743    6116.1560
RUNS-C                      36.1689     43.2994  0.8353 0.4061      -50.0164     122.3541
ECON                      1630.7561   4271.9721  0.3817 0.7037    -6872.3917   10133.9039
ODI-WKTS                   169.6352    197.3914  0.8594 0.3927     -223.2627     562.5330
ODI-SR-BL                  -45.9632    709.6945 -0.0648 0.9485    -1458.5747    1366.6484
CAPTAINCY EXP           124593.8905  45005.4422  2.7684 0.0070    35012.7986  214174.9824
SIXERS                    4366.7152    878.9171  4.9683 0.0000     2617.2743    6116.1560
RUNS-C                      36.1689     43.2994  0.8353 0.4061      -50.0164     122.3541
ECON                      1630.7561   4271.9721  0.3817 0.7037    -6872.3917   10133.9039
COUNTRY_BAN            -328295.1906 374234.6918 -0.8772 0.3830 -1073190.7115  416600.3302
COUNTRY_ENG             517685.8922 216876.2102  2.3870 0.0194    86004.5940  949367.1904
COUNTRY_NZ             -104048.7535 157810.0274 -0.6593 0.5116  -418161.7557  210064.2487
COUNTRY_PAK             -87963.6715 164278.4155 -0.5355 0.5938  -414951.6781  239024.3351
COUNTRY_SA             -181301.1989 107917.5902 -1.6800 0.0969  -396105.7889   33503.3912
COUNTRY_SL             -140344.1896 138109.3794 -1.0162 0.3126  -415244.0329  134555.6536
COUNTRY_WI             -589654.7481 189527.0134 -3.1112 0.0026  -966898.8317 -212410.6645
COUNTRY_ZIM            -263506.5133 382995.5070 -0.6880 0.4935 -1025840.0007  498826.9741
TEAM_DC                  41431.5165 129134.4271  0.3208 0.7492  -215604.1311  298467.1640
TEAM_DD                 -35329.2056 130627.2947 -0.2705 0.7875  -295336.3317  224677.9205
TEAM_KKR               -103383.5965 133652.4341 -0.7735 0.4415  -369412.1121  162644.9191
TEAM_KXI                285530.5913 366872.0326  0.7783 0.4387  -444709.9231 1015771.1057
TEAM_KXIP               -95348.6976 151614.5917 -0.6289 0.5312  -397129.9934  206432.5982
TEAM_MI                  47573.3129 156055.9219  0.3048 0.7613  -263048.2297  358194.8555
TEAM_RCB                -69605.4771 125702.5828 -0.5537 0.5813  -319810.2094  180599.2552
TEAM_RR                -167524.7081 134768.9463 -1.2431 0.2175  -435775.5856  100726.1694
PLAYING ROLE_Bowler      31798.3553 106940.4941  0.2973 0.7670  -181061.3737  244658.0842
PLAYING ROLE_W. Keeper  -61519.3194 141755.4247 -0.4340 0.6655  -343676.4343  220637.7955
-----------------------------------------------------------------------------------------
Omnibus:                   12.424           Durbin-Watson:              1.727
Prob(Omnibus):             0.002            Jarque-Bera (JB):           13.125
Skew:                      0.774            Prob(JB):                   0.001
Kurtosis:                  3.795            Condition No.:              13234664113960758
=========================================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly
specified.
[2] The smallest eigenvalue is 6.01e-25. This might indicate that                there
are strong multicollinearity problems or that the design                matrix is
singular.